* {
margin: 0;
padding: 0;
box-sizing: border-box;
/* outline: 1px solid red; */
}

body {
   margin: 0;
   padding: 0;
   background-color: rgb(202, 201, 201);
   color:gray;
}

.btn-default{
background-color:blue;
color: white;
padding: 10px 30px;
border-radius: 5px;
}

.container {
max-width: 1440px;
padding: 30px;
margin: auto;
}

.header {
   padding-top: 30px;
   border-radius: 5px;
}

.title {
   border: 3px solid gray;
   border-top: none;
   border-right: none;
   border-bottom: none;
   padding: 5px;
   padding-left: 20px;
   color: gray;
   margin-bottom: 30px;
}
.grayline {
   text-align: center;
   width: 100px;
   color: gray;
}
.actions {
   border-radius: 7px;
   padding: 20px 20px;
   background-color: #fff;
}
.sub-title {
   
   margin-bottom: 10px;
}
.invoices {
   border-radius: 7px;
   padding: 20px 20px;
   margin-top: 30px;
   background-color: #fff;
   padding-bottom: 10px;
}
.table {
   width: 100%;
   border-collapse: collapse;
}
.head {
   text-align: left;
   padding-right: 50px;
   background-color: rgb(202, 201, 201);
}

.reader__row {
   padding-left: 20px;
}

.bottom__row {
   padding-left: 20px;
}

td, th{
   text-align: left;
   padding: 20px 0;
} 

.sub-grayline {
}